absl-py==2.1.0
accelerate==0.34.2
actionlib==1.14.3
addict==2.4.0
aiohttp==3.9.3
aiosignal==1.3.1
airsim==1.7.0
angles==1.9.14
annotated-types==0.6.0
anyio==4.3.0
asgiref==3.7.2
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.1.0
backcall==0.2.0
backoff==2.2.1
bcrypt==4.1.2
blinker==1.7.0
blis==0.7.11
bondpy==1.8.7
build==1.0.3
cachetools==5.3.2
camera-calibration==1.17.0
camera-calibration-parsers==1.12.1
catalogue==2.0.10
catkin==0.8.12
certifi==2022.12.7
charset-normalizer==2.1.1
chroma-hnswlib==0.7.3
click==8.1.7
clip @ git+https://github.com/openai/CLIP.git@a1d071733d7111c9c014f024669f959182114e33
cloudpathlib==0.19.0
cmake==3.25.0
coloredlogs==15.0.1
comm==0.2.2
confection==0.1.5
ConfigArgParse==1.7
contourpy==1.1.1
controller-manager==0.20.0
controller-manager-msgs==0.20.0
cv-bridge==1.16.2
cycler==0.12.1
cymem==2.0.8
dash==2.16.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dashscope==1.14.1
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
diagnostic-analysis==1.12.1
diagnostic-common-diagnostics==1.12.1
diagnostic-updater==1.12.1
diffusers==0.30.3
distro==1.9.0
dnspython==2.6.1
dynamic-reconfigure==1.7.6
exceptiongroup==1.2.0
executing==2.0.1
fairscale==0.4.4
fastapi==0.110.0
fastdtw==0.3.4
fastjsonschema==2.19.1
filelock==3.9.0
Flask==3.0.2
flatbuffers==23.5.26
fonttools==4.49.0
frozenlist==1.4.1
fsspec==2024.2.0
ftfy==6.2.0
gazebo_plugins==2.9.3
gazebo_ros==2.9.3
gencpp==0.7.2
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.1
gennodejs==2.0.2
genpy==0.6.18
geojson==3.1.0
git-filter-repo==2.47.0
google-auth==2.28.1
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.62.0
graphlib-backport==1.0.3
grpcio==1.62.0
h11==0.14.0
h5py==3.11.0
httpcore==1.0.4
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.25.0
humanfriendly==10.0
idna==3.4
igraph==0.10.6
image-geometry==1.16.2
imageio==2.31.2
importlib-metadata==6.11.0
importlib-resources==6.1.1
interactive-markers==1.12.2
ipython==8.12.3
ipywidgets==8.1.2
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
jiter==0.5.0
joblib==1.3.2
joint-state-publisher==1.15.2
joint-state-publisher-gui==1.15.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_core==5.7.2
jupyterlab_widgets==3.0.10
kiwisolver==1.4.5
kubernetes==29.0.0
langcodes==3.3.0
laser-geometry==1.6.8
lit==15.0.7
litellm==1.46.6
llvmlite==0.40.1
lru-dict==1.3.0
Markdown==3.5.2
MarkupSafe==2.1.3
matplotlib==3.7.5
matplotlib-inline==0.1.6
message-filters==1.17.4
mmh3==4.1.0
monotonic==1.6
mpmath==1.3.0
msgpack-python==0.5.6
msgpack-rpc-python==0.4.1
multidict==6.0.5
murmurhash==1.0.10
nbformat==5.10.3
nest-asyncio==1.6.0
networkx==3.1
numba==0.57.1
numpy==1.24.1
oauthlib==3.2.2
onnxruntime==1.17.1
open3d==0.18.0
openai==1.58.1
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
opentelemetry-api==1.23.0
opentelemetry-exporter-otlp-proto-common==1.23.0
opentelemetry-exporter-otlp-proto-grpc==1.23.0
opentelemetry-instrumentation==0.44b0
opentelemetry-instrumentation-asgi==0.44b0
opentelemetry-instrumentation-fastapi==0.44b0
opentelemetry-proto==1.23.0
opentelemetry-sdk==1.23.0
opentelemetry-semantic-conventions==0.44b0
opentelemetry-util-http==0.44b0
orjson==3.9.15
overrides==7.7.0
packaging==23.2
pandas==2.0.3
parso==0.8.3
pathlib_abc==0.1.1
pathy==0.11.0
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.2.0
pkgutil_resolve_name==1.3.10
platformdirs==4.2.0
plotly==5.20.0
posthog==3.4.2
preshed==3.0.9
prompt-toolkit==3.0.43
protobuf==4.25.3
psutil==6.0.0
ptyprocess==0.7.0
pulsar-client==3.4.0
pure-eval==0.2.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycityproto==1.10.1
pycitysim==1.10.0
pycocoevalcap==1.2
pycocotools==2.0.7
pydantic==2.9.1
pydantic_core==2.23.3
Pygments==2.17.2
pymongo==4.6.2
pyparsing==3.1.1
PyPika==0.48.9
pyproj==3.5.0
pyproject_hooks==1.0.0
pyquaternion==0.9.9
python-dateutil==2.8.2
python-dotenv==1.0.1
python-qt-binding==0.4.6
pytz==2024.1
PyYAML==6.0.1
qt-dotgraph==0.4.5
qt-gui==0.4.5
qt-gui-cpp==0.4.5
qt-gui-py-common==0.4.5
referencing==0.34.0
regex==2023.12.25
requests==2.32.3
requests-oauthlib==1.3.1
resource-retriever==1.12.10
retrying==1.3.4
rosbag==1.17.4
rosboost-cfg==1.15.10
rosclean==1.15.10
roscreate==1.15.10
rosgraph==1.17.4
roslaunch==1.17.4
roslib==1.15.10
roslint==0.12.0
roslz4==1.17.4
rosmake==1.15.10
rosmaster==1.17.4
rosmsg==1.17.4
rosnode==1.17.4
rosparam==1.17.4
rospy==1.17.4
rosservice==1.17.4
rostest==1.17.4
rostopic==1.17.4
rosunit==1.15.10
roswtf==1.17.4
rpds-py==0.18.0
rqt-action==0.4.11
rqt-bag==0.5.3
rqt-bag-plugins==0.5.3
rqt-console==0.4.14
rqt-dep==0.4.14
rqt-graph==0.4.16
rqt-gui==0.5.5
rqt-gui-py==0.5.5
rqt-image-view==0.4.19
rqt-launch==0.4.10
rqt-logger-level==0.4.13
rqt-moveit==0.5.13
rqt-msg==0.4.12
rqt-nav-view==0.5.8
rqt-plot==0.4.16
rqt-pose-view==0.5.13
rqt-publisher==0.4.12
rqt-py-common==0.5.5
rqt-py-console==0.4.12
rqt-reconfigure==0.5.7
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.15
rqt-robot-steering==0.5.14
rqt-runtime-monitor==0.5.10
rqt-rviz==0.7.2
rqt-service-caller==0.4.12
rqt-shell==0.4.13
rqt-srv==0.4.11
rqt-tf-tree==0.6.5
rqt-top==0.4.11
rqt-topic==0.4.15
rqt-web==0.4.11
rsa==4.9
rviz==1.14.26
safetensors==0.4.5
scikit-learn==1.3.2
scipy==1.10.0
sensor-msgs==1.13.2
shapely==2.0.3
six==1.16.0
smach==2.5.3
smach-ros==2.5.3
smart-open==6.4.0
smclib==1.8.7
sniffio==1.3.0
spacy==3.7.6
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
stack-data==0.6.3
starlette==0.36.3
supervision==0.18.0
sympy==1.12
tenacity==8.2.3
tensorboard==2.14.0
tensorboard-data-server==0.7.2
texttable==1.7.0
tf==1.13.4
tf-conversions==1.13.4
tf2-geometry-msgs==0.7.10
tf2-kdl==0.7.10
tf2-py==0.7.10
tf2-ros==0.7.10
thinc==8.2.5
threadpoolctl==3.4.0
tiktoken==0.7.0
timm==0.4.12
tokenizers==0.13.3
tomli==2.0.1
topic-tools==1.17.4
torch==2.0.1+cu118
torchaudio==2.0.2+cu118
torchvision==0.15.2+cu118
tornado==4.5.3
tqdm==4.66.1
traitlets==5.14.2
transformers==4.33.2
triton==2.0.0
typer==0.4.2
types-protobuf==4.24.0.20240129
typing_extensions==4.12.2
tzdata==2024.1
urllib3==1.26.13
utm==0.7.0
uvicorn==0.27.1
uvloop==0.19.0
wasabi==0.10.1
watchfiles==0.21.0
wcwidth==0.2.13
weasel==0.4.1
websocket-client==1.7.0
websockets==12.0
Werkzeug==3.0.1
widgetsnbextension==4.0.10
wrapt==1.16.0
xacro==1.14.20
yacs==0.1.8
yapf==0.40.2
yarl==1.9.4
zipp==3.17.0
